header {
    margin-top: 30%;
    height: auto;
    width: 600px;
    background: black;
    color: white;
    font-weight: 700;
    margin: auto;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
}
.header_block{
    display: flex;
    justify-content: space-between;
}
.header_block_1{
    margin-left: 10%;
}
.header_block_2{
    margin-right: 10%;
}
table {
    width: 600px;
    height: auto;
    background: black;
    color: white;
    font-weight: 700;
    margin: auto;
}

tr {
    height: 1.5rem;
}

.yellow {
    color: darkgoldenrod;
}

.col_name {
    text-align: left;
}

.center {
    text-align: center;  
}
.center_text{
    text-align: center;
    color: aquamarine;
}
.image {
    border: 1px solid white;
    margin-left: 2rem;
    width: 60px;
    height: 40px;
    background-image: url(../img/all_country_flags_with_names.jpg);
    background-size: auto;
}